* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'HelveticaNeueCyr', sans-serif;
  color: #343434;
  background: url("../img/main-bg.jpg") no-repeat center center/cover;
  min-height: 100vh;
  overflow-x: hidden;
}

body.active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.nav_toggle {
  width: 35px;
  padding: 18px 0;
  z-index: 11;
  cursor: pointer;
  display: none;
}

.f-center-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-jcsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.f-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.f-center-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav_toggle-item {
  display: block;
  width: 100%;
  height: 3px;
  position: relative;
  border-radius: 8px;
  background-color: #000;
  -webkit-transition: background .2s linear;
  transition: background .2s linear;
}

.nav_toggle-item:before, .nav_toggle-item:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  background-color: #000;
  border-radius: 8px;
  z-index: 1;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.nav_toggle-item:before {
  background-color: #000;
  top: -14px;
}

.nav_toggle-item:after {
  bottom: -14px;
}

.nav_toggle.active .nav_toggle-item:before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3D(7px, -4px, 0);
  transform: rotate(45deg) translate3D(7px, -4px, 0);
}

.nav_toggle.active .nav_toggle-item:after {
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3D(7px, 5px, 0);
  transform: rotate(-45deg) translate3D(7px, 5px, 0);
}

.nav_toggle.active .nav_toggle-item {
  background: none;
}

/* main */
.main {
  padding: 50px 0;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
}

.filter {
  position: fixed;
  z-index: 1;
  right: 10px;
  bottom: 35px;
  cursor: pointer;
  display: none;
}

.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #46515E;
}

.text {
  font-size: 14px;
  line-height: 16px;
  color: #46515E;
}

.more {
  font-size: 12px;
  line-height: 14px;
  color: #4B90E2;
}

.aside {
  max-width: 335px;
  width: 100%;
  background-color: #fff;
  margin-right: 20px;
  border-radius: 3px;
}

.aside .aside_btns {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px -4px 10px rgba(95, 107, 122, 0.1);
  box-shadow: 0px -4px 10px rgba(95, 107, 122, 0.1);
}

.aside .aside_btns .btn {
  min-width: auto;
  width: 49%;
}

.aside .aside_top {
  display: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 15px;
  background-color: #fff;
  border-bottom: 1px solid rgba(101, 114, 130, 0.2);
}

.aside .aside_top .close {
  cursor: pointer;
}

.aside .aside_title {
  padding: 20px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.aside .aside_title .title {
  cursor: pointer;
  padding-left: 22px;
  position: relative;
}

.aside .aside_title .title.active::before {
  top: 2px;
  -webkit-transform: scale(1, 1) rotate(45deg);
  transform: scale(1, 1) rotate(45deg);
}

.aside .aside_title .title::before {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  opacity: 0.5;
  border: 2px solid #657282;
  border-top: 0;
  border-left: 0;
  -webkit-transform: scale(-1, -1) rotate(45deg);
  transform: scale(-1, -1) rotate(45deg);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.aside .aside_x {
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  padding: 2px 10px;
  background: #4B90E2;
  border-radius: 10px;
}

.aside .aside_toggle {
  padding: 25px;
  background: rgba(75, 144, 226, 0.05);
}

.checkbox {
  position: relative;
  margin-bottom: 15px;
}

.checkbox:last-child {
  margin-bottom: 0;
}

.checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox input:checked + label::before {
  background-color: #4B90E2;
}

.checkbox input:checked + label::after {
  opacity: 1;
}

.checkbox label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #46515E;
  padding-left: 32px;
}

.checkbox label::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: 0;
  top: -3px;
  border: 1px solid #4B90E2;
  border-radius: 3px;
}

.checkbox label::after {
  position: absolute;
  content: "\2713";
  top: 0;
  left: 4px;
  font-size: 18px;
  color: #fff;
  opacity: 0;
}

.rangeable-track {
  background-color: #CFDAE8;
}

.rangeable-progress, .rangeable-track {
  height: 2px;
}

.rangeable-handle {
  width: 18px;
  height: 18px;
  background-color: #4B90E2;
  border: 2px solid #fff;
}

.rangeable-progress {
  background-color: #4B90E2;
}

.range_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;
}

.price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #E48032;
  margin-bottom: 15px;
  display: table;
}

.btn {
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 13px;
  min-width: 190px;
  text-align: center;
  display: table;
  background: #E48032;
  border-radius: 3px;
  background-position: 100% 0;
  background-size: 202% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a2c34), color-stop(50%, #2a2c34), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #2a2c34, #2a2c34 50%, transparent 50%);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.btn:hover {
  background-position: 0 0;
}

.btn.null {
  background: rgba(101, 114, 130, 0.1);
  background-position: 100% 0;
  background-size: 202% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#2a2c34), color-stop(50%, #2a2c34), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #2a2c34, #2a2c34 50%, transparent 50%);
  color: #46515E;
}

.btn.null:hover {
  background-position: 0 0;
  color: #fff;
}

.race {
  font-size: 13px;
  line-height: 15px;
  color: #657282;
  background: rgba(101, 114, 130, 0.1);
  border-radius: 10px;
  padding: 2px 10px;
  display: table;
}

.race.buisness {
  background: #FCF3EC;
  color: #E48032;
}

.race.straight {
  background: #EFF5F2;
  color: #219653;
}

.race.econom {
  background: #E9F1FA;
  color: #4B90E2;
}

.main_inner {
  width: 100%;
  margin-left: auto;
}

.main_inner .main_top {
  max-width: 565px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main_inner .main_top .main_top_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main_inner .main_top img {
  margin-right: 15px;
}

.main_inner .main_top .race {
  margin: 0 15px;
}

.main_inner .main_top .transfer {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #EB5757;
}

.main_inner .main_item {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  border-radius: 3px;
}

.main_inner .main_item .main_info {
  padding: 32px 38px;
  width: 100%;
}

.main_inner .main_item .main_pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 300px;
  width: 100%;
  padding: 32px 28px;
  border-left: 1px solid rgba(101, 114, 130, 0.2);
}

.main_inner .main_item .main_pay .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
  color: #4B90E2;
}

.main_inner .main_item .main_pay .text img {
  margin-right: 15px;
  width: 21px;
  height: 21px;
}

.main_inner .timeline {
  max-width: 610px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.main_inner .timeline .inroad {
  margin-top: 5px;
}

.main_inner .timeline .inroad .undertext {
  text-align: center;
}

.main_inner .timeline .race {
  margin: 10px auto 0;
}

.main_inner .timeline .line {
  opacity: .5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 15px 10px 0;
  height: 1px;
  background-color: #657282;
}

.main_inner .from {
  text-align: center;
}

.main_inner .from .time {
  padding-right: 30px;
  margin-bottom: 5px;
}

.main_inner .from .time img {
  right: 0;
}

.main_inner .to {
  text-align: center;
}

.main_inner .to .time {
  padding-left: 30px;
  margin-bottom: 5px;
}

.main_inner .to .time img {
  left: 0;
}

.time {
  font-size: 24px;
  line-height: 28px;
  display: table;
  color: #46515E;
  position: relative;
}

.time img {
  position: absolute;
  top: 5px;
}

@media (max-width: 1200px) {
  .aside {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    visibility: hidden;
    -webkit-transition: all 0.4s ease !important;
    transition: all 0.4s ease !important;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    -webkit-box-shadow: 8px 0px 10px rgba(95, 107, 122, 0.1);
    box-shadow: 8px 0px 10px rgba(95, 107, 122, 0.1);
  }
  .aside .aside_inner {
    overflow: auto;
    height: calc(100vh - 148px);
  }
  .aside.active {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
  }
  .aside .aside_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside .aside_btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filter {
    display: block;
  }
}

@media (max-width: 885px) {
  .main_inner .timeline {
    max-width: 100%;
  }
  .main_inner .main_item {
    display: block;
  }
  .main_inner .main_item .main_info {
    padding-bottom: 0;
  }
  .main_inner .main_item .main_pay {
    max-width: 100%;
    border-top: 1px solid rgba(101, 114, 130, 0.2);
  }
  .main_pay_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .pay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
  }
}

@media (max-width: 620px) {
  .aside {
    max-width: 100%;
  }
  .main_inner .main_item .main_pay,
  .main_inner .main_item .main_info {
    padding: 25px;
  }
  .main_inner .from .time {
    padding-right: 0;
    padding-left: 30px;
  }
  .main_inner .from .time img {
    right: initial;
    left: 0;
  }
  .main_inner .timeline .line {
    height: 16px;
    width: 1px;
    -webkit-box-flex: initial;
    -ms-flex: initial;
    flex: initial;
    margin: 10px 0 10px 10px;
  }
  .main_inner .timeline {
    margin-bottom: 0;
  }
  .main_inner .main_top img,
  .main_inner .main_top .text,
  .main_inner .main_top .race {
    margin-bottom: 10px;
  }
  .main_inner .main_top .race {
    margin-left: 0;
  }
  .main_inner .main_top .text {
    margin-right: 10px;
  }
  .main_inner .main_top .transfer {
    width: 100%;
    margin-top: 10px;
  }
  .time {
    font-size: 18px;
    line-height: 21px;
  }
  .btn {
    min-width: 165px;
  }
  .price {
    font-size: 18px;
    line-height: 22px;
  }
  .pay {
    margin-top: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .main_pay_info {
    display: block;
  }
}

.header {
  padding-top: 30px;
  padding-bottom: 25px;
  background: rgba(24, 58, 111, 0.49);
}

.header-toggle {
  display: none;
}

.header-toggle svg {
  display: block;
}

.header-logo {
  display: block;
}

.header-logo__image {
  display: block;
}

.header-nav {
  margin-left: 179px;
}

.header-menu__item {
  margin-right: 82px;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.header-menu__link_accent {
  padding: 6px 17px;
  background: #E48032;
  border-radius: 3px;
}

.header-menu__link_accent:hover {
  background: #d86c1a;
}

.header-menu__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.header-menu__link svg {
  display: block;
  margin-right: 15px;
}

.main-find {
  padding: 17px 21px;
  background: #FFFFFF;
  border-radius: 3px;
  margin-bottom: 24px;
}

.main-find__btn {
  width: 190px;
  text-align: center;
  padding: 14px 0;
  background: #4B90E2;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.main-city__item .main-form__item {
  width: 240px;
}

.main-city__arrows {
  margin: 0 5px;
}

.main-city__arrows svg {
  display: block;
}

.main-date__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: rgba(70, 81, 94, 0.5);
  z-index: 1;
}

.main-date__item {
  position: relative;
  margin-right: 12px;
}

.main-date__item:last-child {
  margin-right: 0px;
}

.main-date__item input {
  display: block;
  padding: 13px 10px 13px 57px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid rgba(101, 114, 130, 0.3);
  border-radius: 3px;
  outline: none;
  position: relative;
  cursor: pointer;
}

.main-date__item input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.main-date__item input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.main-date__item_pb input {
  padding-left: 85px;
}

.main-people__count {
  position: relative;
}

.main-people__count.active .main-people__block {
  opacity: 1;
  pointer-events: all;
}

.main-people__text {
  padding: 14px 12px;
  font-weight: 400;
  font-size: 16px;
  width: 240px;
  line-height: 18px;
  color: #46515E;
  position: relative;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(101, 114, 130, 0.3);
}

.main-people__text::after {
  content: url("../img/drop-arrow.svg");
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 11px;
}

.main-people__block {
  position: absolute;
  top: 100%;
  left: 0;
  width: 291px;
  padding: 42px 31px;
  z-index: 1;
  background: #F6FAFF;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.main-data__item {
  margin-bottom: 12px;
}

.main-data__item:last-child {
  margin-bottom: 0;
}

.main-data__point {
  font-weight: 500;
  font-size: 14.5649px;
  line-height: 20px;
  color: #000;
}

.main-data__warn {
  font-weight: 400;
  font-size: 10.1954px;
  line-height: 14px;
  color: #3E4042;
}

.main-data__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: 0;
  background: #C4C4C4;
}

.main-data__btn.count-plus {
  background: #4B90E2;
}

.main-data__input {
  width: 30px;
  padding: 0;
  outline: none;
  text-align: center;
  font-weight: 400;
  font-size: 16.5972px;
  display: block;
  line-height: 23px;
  background: transparent;
  border: 0;
}

.main-checkbox {
  margin-top: 26px;
}

.main-type {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 3px;
}

.main-type__item {
  width: 33.3%;
  text-align: center;
  border-right: 1px solid rgba(101, 114, 130, 0.2);
  height: 80px;
}

.main-type__item.active {
  background: rgba(75, 144, 226, 0.05);
}

.main-type__item.active .main-type__point, .main-type__item.active .main-type__text {
  color: #4B90E2;
}

.main-type__item:last-child {
  border-right: 0;
}

.main-type__point {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #46515E;
}

.main-type__text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #46515E;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

.main-form__drop {
  position: relative;
}

.main-form__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  cursor: pointer;
  padding: 14px 12px;
  border: 1px solid rgba(101, 114, 130, 0.3);
}

.main-form__offer span {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #46515E;
}

.main-form__subtext {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-right: 8px;
  color: rgba(70, 81, 94, 0.5);
}

.main-form__offer input {
  outline: none;
  width: 100%;
  border: 0;
  margin-right: 0;
}

.main-form__drop.active .main-form__list {
  opacity: 1;
  pointer-events: all;
}

.main-form__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #F6FAFF;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-radius: 0px 0px 3px 3px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.main-form__list-item label {
  font-size: 15px;
  padding: 7px;
  display: block;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.main-form__list-item label:hover {
  background: #e9e9e9;
}

.main-form__list-item input {
  display: none;
}

.main-form__list-item.active label {
  background: #4B90E2;
  color: #fff;
}

.origin-select {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  padding: 10px;
  width: 100%;
  z-index: 3;
  border: 1px solid rgba(101, 114, 130, 0.3);
  border-radius: 5px;
}

.origin-select span {
  display: block;
}

.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.popup.show {
  opacity: 1;
  pointer-events: all;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.popup-body {
  background: #fff;
  width: 1230px;
  height: 730px;
  top: 50px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.popup-close {
  position: absolute;
  top: 26px;
  left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #F5594D;
  cursor: pointer;
}

.popup-close img {
  display: block;
  margin-right: 7px;
}

.popup-content__block {
  width: 186px;
  text-align: center;
  position: relative;
}

.popup-content__block::after {
  content: '';
  display: block;
  height: 218px;
  width: 1px;
  background: #757575;
  position: absolute;
  right: -37px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.popup-content__number {
  font-weight: 700;
  font-size: 42.2671px;
  line-height: 58px;
  color: #000000;
}

.popup-content__point {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.popup-content__pay {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #757575;
}

.popup-content__baggage {
  margin-top: 16px;
  border: 1px solid #44D600;
  border-radius: 3px;
  padding: 9px 0;
  font-weight: 400;
  font-size: 12.1221px;
  line-height: 17px;
  color: #44D600;
}

.popup-content__baggage img {
  display: block;
  margin-left: 10px;
}

.popup-content__btn {
  margin-top: 67px;
  width: 100%;
}

.popup-content__offer {
  margin-left: 60px;
}

.popup .main_inner .main_item {
  margin-bottom: 0;
}

.popup .main_inner .main_item .main_info {
  width: 606px;
}

.popup .main_inner .timeline {
  margin-bottom: 0;
}

.popup .main_inner .main_item .main_info {
  padding: 0;
}

.search {
  padding-top: 9px;
  padding-bottom: 29px;
}

.search-block {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 72px 40px 64px 40px;
}

.search-block__subtitle {
  margin-top: 7px;
  font-weight: 400;
  font-size: 12.6427px;
  line-height: 17px;
  color: #000;
  display: none;
}

.search-block__offer {
  text-align: center;
}

.search-block__title {
  font-weight: 500;
  font-size: 42.9761px;
  line-height: 42px;
  color: #4B90E2;
}

.search-block__submit {
  margin: 0 auto;
  margin-top: 72px;
  width: 381px;
  height: 54px;
  text-align: center;
  background: #4B90E2;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: 550;
  font-size: 21.0902px;
  line-height: 21px;
}

.search-form {
  margin-top: 77px;
}

.search-form__city {
  position: relative;
  margin-right: 17px;
}

.search-form__city .search-form__input {
  margin-right: 16px;
}

.search-form__city .search-form__input:last-child {
  margin-right: 0;
}

.search-form__city .search-form__input:last-child input {
  padding-left: 30px;
}

.search-form__input {
  position: relative;
}

.search-form__input input {
  width: 198px;
  height: 77px;
  padding-left: 15px;
  padding-right: 30px;
  background: #E9F1FA;
  border-radius: 20px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 15.4951px;
  line-height: 15px;
  color: #4B90E2;
}

.search-form__input input::-webkit-input-placeholder {
  color: #657282;
}

.search-form__input input:-ms-input-placeholder {
  color: #657282;
}

.search-form__input input::-ms-input-placeholder {
  color: #657282;
}

.search-form__input input::placeholder {
  color: #657282;
}

.search-form__swap {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.search-form__point {
  position: absolute;
  top: -30px;
  left: 15px;
  display: block;
  font-weight: 500;
  font-size: 15.4951px;
  line-height: 15px;
  color: #657282;
}

.search-form__people {
  position: relative;
  margin-right: 20px;
}

.search-form__people .main-people__inner {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 15.4951px;
  line-height: 15px;
  color: #000000;
}

.search-form__people .main-people__text {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  padding-left: 22px;
  background: #E9F1FA;
  border-radius: 20px;
  border: 0;
}

.search-form__people .main-people__text::after {
  content: url("../img/blue-arrow.svg");
  right: 22px;
}

.search-form__people .main-people__span {
  display: block;
  font-weight: 500;
  font-size: 11.7549px;
  line-height: 12px;
  color: #657282;
  margin-top: 1px;
}

.search-form__btn {
  height: 77px;
  width: 198px;
  text-align: center;
  display: block;
  background: #E58134;
  border-radius: 20px;
  border: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  font-weight: 500;
  font-size: 15.4951px;
  line-height: 15px;
  cursor: pointer;
}

.search-form__date {
  margin-right: 17px;
}

.search-form__date .search-form__input {
  position: relative;
  margin-right: 17px;
}

.search-form__date .search-form__input:last-child {
  margin-right: 0;
}

.search-form__date .search-form__input input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.search-form__date .search-form__input input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.search-form__date .search-form__input input::after {
  content: url("../img/calendar.png");
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 19px;
  pointer-events: none;
}

.search-price {
  margin-top: 80px;
}

.search-price__title {
  text-align: center;
  font-weight: 500;
  font-size: 24.3273px;
  line-height: 24px;
  color: #000;
}

.search-price__offer {
  margin: 0 auto;
  margin-top: 51px;
  background: #E9F1FA;
  border-radius: 20px;
  width: 718px;
  padding: 27px 50px;
  position: relative;
  padding-right: 110px;
}

.search-price__accent {
  position: absolute;
  font-weight: 550;
  font-size: 13.6967px;
  line-height: 14px;
  color: #fff;
  padding: 11px 17px;
  background: #44D600;
  border-radius: 10px;
  left: 28px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.search-price__value {
  font-weight: 500;
  font-size: 24.3273px;
  line-height: 24px;
  color: #000;
}

.search-price__time {
  font-weight: 550;
  font-size: 14.1909px;
  line-height: 14px;
  color: #757575;
  margin-left: 35px;
}

.search-price__info {
  font-weight: 550;
  font-size: 14.1909px;
  line-height: 14px;
  color: #000000;
}

.credits {
  background: #4B90E2;
  padding-top: 30px;
  padding-bottom: 16px;
  color: #fff;
}

.credits-item__btn {
  margin-top: 13px;
  padding: 14px 41px;
  background: #E48032;
  border-radius: 10px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.credits-item__point {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #fff;
}

.credits-item__point::after {
  content: '';
  display: block;
  width: 158px;
  height: 1px;
  background: #FFFFFF;
  margin-top: 5px;
}

.credits-item__phone {
  margin-top: 18px;
}

.credits-item__type {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #fff;
}

.credits-item__icon {
  margin-left: 10px;
  margin-right: 21px;
}

.credits-item__icon img {
  display: block;
}

.credits-item__text {
  font-weight: 500;
  font-size: 14.6978px;
  line-height: 15px;
}

.credits-offer {
  margin-top: 15px;
}

.credits-offer__item {
  margin-bottom: 11px;
}

.credits-offer__item:last-child {
  margin-bottom: 0;
}

.credits-offer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  min-width: 125px;
  margin-right: 10px;
}

.credits-offer__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.credits-menu {
  margin-top: 26px;
}

.credits-menu__item {
  margin-bottom: 7px;
}

.credits-menu__item:last-child {
  margin-bottom: 0;
}

.credits-menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.credits-menu__link:hover {
  color: #fab988;
}

.credits-bottom {
  margin-top: 15px;
  position: relative;
}

.credits-social {
  position: relative;
}

.credits-social::after {
  content: '';
  display: block;
  width: 158px;
  height: 1px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -15px;
}

.credits-social__item {
  margin-right: 10px;
}

.credits-social__item:last-child {
  margin-right: 0;
}

.credits-social__link {
  display: block;
}

.credits-social__link img {
  display: block;
}

.credits-politic {
  margin-top: 32px;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}

.credits-download {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
}

.credits-download__item {
  display: block;
  margin-right: 5px;
}

.credits-download__item:last-child {
  margin-right: 0;
}

.credits-download__item img {
  display: block;
  width: 133px;
}

.pay {
  padding-bottom: 60px;
  padding-top: 30px;
}

.pay-info {
  background: #FFFFFF;
  border-radius: 3px;
  padding: 31px;
  padding-top: 23px;
}

.pay-progress__item {
  margin-right: 30px;
}

.pay-progress__item::after {
  content: '';
  display: block;
  width: 219px;
  height: 1px;
  background: #4B90E2;
  margin-left: 25px;
}

.pay-progress__item:last-child {
  margin-right: 0;
}

.pay-progress__item:last-child::after {
  display: none;
}

.pay-progress__count {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  border: 1px solid #4B90E2;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4B90E2;
  margin-right: 16px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pay-progress__point {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #4B90E2;
}

.pay-details {
  margin-top: 31px;
  background: #F1F7FF;
  padding: 16px 0;
  padding-left: 117px;
}

.pay-details .main_inner {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 0;
  width: 606px;
}

.pay-details .main_inner .timeline {
  margin-bottom: 0;
}

.pay-details__block {
  margin-left: 171px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.pay-details__name {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #46515E;
}

.pay-details__company {
  margin-top: 0px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #657282;
}

.pay-details__type {
  margin-left: 72px;
}

.pay-details__type img {
  display: block;
  margin-right: 10px;
}

.pay-details__text {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #657282;
}

.pay-booking {
  background: #FFFFFF;
  border-radius: 3px;
  margin-top: 30px;
  padding: 36px 43px;
}

.pay-booking__item {
  margin-bottom: 43px;
}

.pay-booking__item:last-child {
  margin-bottom: 0;
}

.pay-booking__point {
  font-weight: 400;
  font-size: 17.8783px;
  line-height: 25px;
  color: #000;
}

.pay-booking__row {
  margin-top: 13px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1200px;
}

.pay-booking__row_document .pay-booking__offer {
  margin-bottom: 23px;
}

.pay-booking__offer {
  width: 206px;
  margin-right: 89px;
}

.pay-booking__input {
  display: block;
}

.pay-booking__input input {
  display: block;
  width: 100%;
  padding: 7px 14px;
  border-radius: 5.58697px;
  border: 1.11739px solid #657282;
  outline: none;
  font-weight: 400;
  font-size: 15.3696px;
  line-height: 21px;
  position: relative;
  color: #000;
}

.pay-booking__input input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
  cursor: pointer;
}

.pay-booking__input input::-webkit-calendar-picker-indicator {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.pay-booking__input input::-webkit-input-placeholder {
  color: #788391;
}

.pay-booking__input input:-ms-input-placeholder {
  color: #788391;
}

.pay-booking__input input::-ms-input-placeholder {
  color: #788391;
}

.pay-booking__input input::placeholder {
  color: #788391;
}

.pay-booking__inner {
  margin-top: 8px;
}

.pay-booking__title {
  font-weight: 400;
  font-size: 11.9541px;
  line-height: 16px;
  color: #657282;
  display: block;
  margin-bottom: 9px;
}

.pay-booking__warn {
  margin-top: 12px;
  font-weight: 400;
  font-size: 11.9541px;
  line-height: 16px;
  color: #657282;
}

.pay-booking__people {
  margin-top: 25px;
  font-weight: 400;
  font-size: 11.9541px;
  line-height: 16px;
  color: #657282;
  margin-bottom: 27px;
}

.pay-booking__radio {
  margin-right: 11px;
  width: 34px;
  height: 34px;
  border: 1.5px solid #657282;
  border-radius: 5.58697px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.pay-booking__radio.active {
  border-color: #4B90E2;
}

.pay-booking__radio img {
  display: block;
}

.pay-booking__radio:last-child {
  margin-right: 0;
}

.pay-booking__radio input {
  display: none;
}

.pay-total {
  margin-top: 30px;
  background: #FFFFFF;
  border-radius: 3px;
  padding: 30px 140px 30px 39px;
}

.pay-total__price {
  font-weight: 400;
  font-size: 25.0296px;
  line-height: 35px;
}

.pay-total__accent {
  margin-left: 34px;
  display: block;
  font-weight: 400;
  font-size: 34.1063px;
  line-height: 47px;
  color: #4B90E2;
}

.pay-total__btn {
  border: 0;
  display: block;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 14px 21px;
  border-radius: 5.58697px;
  background: #4B90E2;
  font-weight: 400;
  font-size: 21.8207px;
  line-height: 30px;
  color: #fff;
}

.iti__selected-flag {
  border-right: 1.11739px solid #657282;
}

@media screen and (max-width: 1430px) {
  .main-find {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-city {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-city__item {
    width: 50%;
  }
  .main-city__item .main-form__item {
    width: 100%;
  }
  .main-date {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-people__text {
    width: 100%;
  }
  .main-find__btn {
    width: 50%;
  }
  .main-date__item {
    width: 50%;
    margin-right: 28px;
  }
  .main-date__item input {
    width: 100%;
  }
  .main-people {
    width: 50%;
    padding-right: 13px;
  }
  .main-find__btn {
    width: calc(50% - 13px);
  }
  .header-nav {
    margin-left: 50px;
  }
  .pay-progress__item::after {
    width: 90px;
  }
  .pay-details {
    padding-left: 30px;
  }
  .pay-details__block {
    margin-left: 30px;
  }
  .pay-details__type {
    margin-left: 30px;
  }
  .pay-progress__item {
    margin-right: 20px;
  }
  .search-form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .search-form__city {
    width: 100%;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .search-form__city .search-form__input {
    width: 50%;
  }
  .search-form__input input {
    width: 100%;
  }
  .search-form__date {
    width: 100%;
    margin-bottom: 60px;
    margin-right: 0;
  }
  .search-form__date .search-form__input {
    width: 50%;
  }
  .search-form__people {
    width: 100%;
    margin-right: 0;
  }
  .search-form__people .search-form__point {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .search-form__people .main-people {
    margin: 0 auto;
  }
  .search-form__btn {
    margin: 0 auto;
    margin-top: 24px;
  }
  .search-block__subtitle {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    z-index: 3;
    padding-top: 25px;
    padding-bottom: 16px;
  }
  .header-toggle {
    display: block;
    margin-right: 64px;
  }
  .header-toggle line {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .header.menu-open .header-toggle line {
    stroke: #E48032;
  }
  .header.menu-open .header-nav {
    opacity: 1;
    pointer-events: all;
  }
  .header-nav {
    position: absolute;
    top: 100%;
    background: rgba(24, 58, 111, 0.9);
    left: 0;
    margin-left: 0;
    width: 100%;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
  }
  .header-menu {
    display: block;
  }
  .header-menu__item {
    margin-right: 0;
    margin-bottom: 20px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .header-menu__item:last-child {
    margin-bottom: 0;
  }
  .popup-body {
    width: 100%;
  }
  .credits-download {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  .credits-bottom__offer {
    margin-top: 34px;
  }
  .credits-bottom {
    margin-top: 30px;
  }
}

@media screen and (max-width: 992px) {
  .popup-content {
    display: block;
  }
  .popup-content__block {
    margin: 0 auto;
  }
  .popup {
    z-index: 5;
  }
  .popup-body {
    padding: 40px 20px;
    height: auto;
  }
  .popup-content__offer {
    margin-left: 0;
    margin-top: 50px;
  }
  .popup-content__block::after {
    bottom: -30px;
    width: 218px;
    height: 1px;
    top: unset;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  .popup-close {
    top: 10px;
    left: 28px;
  }
  .popup-content__btn {
    margin-top: 50px;
  }
  .popup .main_inner .from {
    display: block;
  }
  .popup .main_inner .to {
    display: block;
  }
  .popup .main_inner .from .time, .popup .main_inner .to .time {
    margin: 0 auto;
    margin-bottom: 5px;
  }
  .popup .main_inner .timeline .inroad {
    display: block;
  }
  .popup .main_inner .timeline .race {
    margin: 0 auto;
    text-align: center;
    max-width: unset;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 11px;
  }
  .popup .undertext {
    font-size: 13px;
    margin-top: 3px;
  }
  .popup .main_inner .time {
    font-size: 24px;
  }
  .popup .main_inner .to .time img {
    left: 4px;
  }
  .pay-progress__item {
    margin-right: 10px;
  }
  .pay-progress__count {
    margin-right: 10px;
  }
  .pay-progress__item::after {
    margin-left: 10px;
    width: 50px;
  }
  .pay-info {
    padding: 15px;
  }
  .pay-details {
    display: block;
  }
  .pay-details__block {
    margin-left: 0;
    margin-top: 10px;
  }
  .pay-details__type {
    margin-left: 0;
    margin-top: 10px;
  }
  .credits-wrapper {
    display: block;
  }
  .credits-item {
    margin-bottom: 20px;
  }
  .credits-item:last-child {
    margin-bottom: 0;
  }
  .credits-download {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .credits-download__item {
    width: 33%;
  }
  .credits-download__item img {
    display: block;
    width: 100%;
  }
  .credits-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .credits-social::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .credits-politic {
    text-align: center;
    font-size: 10px;
    line-height: 10px;
  }
  .credits-menu__link {
    font-size: 10px;
    line-height: 10px;
  }
  .credits-menu__item {
    margin-bottom: 7px;
  }
  .credits-menu {
    margin-top: 14px;
  }
  .credits-item__point {
    font-size: 16px;
    line-height: 22px;
  }
  .credits-item__point::after {
    width: 96px;
  }
  .credits-item__type {
    font-size: 20px;
    line-height: 19px;
  }
  .credits-item__icon {
    margin-left: 17px;
    margin-right: 11px;
  }
  .credits-item__icon img {
    width: 18px;
  }
  .credits-item__text {
    font-size: 7px;
    line-height: 7px;
  }
  .credits-offer__link, .credits-offer__text {
    min-width: 70px;
    font-size: 8.7px;
    line-height: 8.6px;
  }
  .credits-item__btn {
    margin-top: 11px;
    font-size: 10.2044px;
    line-height: 10px;
    padding: 7px 13px;
    border-radius: 4.94469px;
  }
  .search-block {
    padding: 60px 12px 26px 12px;
  }
  .search {
    padding-top: 0;
    padding-bottom: 0;
  }
  .search .container {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .main_inner .main_top {
    display: none;
  }
  .main_inner .timeline {
    display: block;
  }
  .main_inner .time {
    margin: 0 auto;
  }
  .main_inner .timeline .line {
    margin: 11px auto;
    height: 41px;
    width: 1px;
    display: block;
  }
  .pay-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    padding-top: 33px;
  }
  .pay-progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50%;
  }
  .pay-progress__item {
    display: block;
  }
  .pay-details {
    width: 50%;
    margin-top: 0;
    padding-left: 0;
  }
  .pay-details .main_inner {
    width: 100%;
  }
  .pay-details__block {
    margin: 0 auto;
    margin-top: 17px;
  }
  .pay-progress__point {
    margin-top: 9px;
  }
  .pay-details__type {
    margin: 0 auto;
    margin-top: 10px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .pay-progress__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  .pay-progress__count {
    margin-right: 0;
  }
  .pay-progress__item::after {
    height: 22px;
    width: 1px;
    margin: 5px auto;
  }
  .main_inner .timeline .undertext {
    color: #657282;
  }
  .pay-info, .pay-booking, .pay-total {
    border-radius: 0;
    margin-top: -1px;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
  }
  .pay-booking__point {
    text-align: center;
  }
  .pay-booking {
    padding-top: 12px;
  }
  .pay-booking__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .pay-booking__offer {
    width: 48%;
    margin-right: 0;
  }
  .iti {
    width: 100%;
    display: block;
  }
  .pay-booking__title {
    text-align: center;
  }
  .pay {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .pay-booking__warn {
    text-align: center;
  }
  .pay-booking__item {
    margin-bottom: 32px;
  }
  .pay-booking__people {
    background: #F1F7FF;
    padding: 14px 0;
    text-align: center;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    margin-top: 12px;
    margin-bottom: 18px;
  }
  .pay-booking {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }
  .pay-total {
    padding-top: 0;
    display: block;
    padding: 0;
    padding-bottom: 47px;
    padding-top: 49px;
    position: relative;
  }
  .pay-total::before {
    content: '';
    display: block;
    width: 114px;
    height: 1px;
    background: #657282;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20px;
  }
  .pay-total__price {
    display: block;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }
  .pay-total__accent {
    margin-left: 0;
    font-size: 25px;
    line-height: 24px;
    margin-top: 10px;
  }
  .pay-total__btn {
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
    line-height: 19px;
    padding: 8px 13px;
  }
  .pay-booking__input input {
    padding: 5px 10px 5px 10px;
    font-size: 9px;
    line-height: 12px;
  }
  .pay-booking__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pay-booking__radio {
    width: 26px;
    height: 26px;
  }
  .pay-booking__radio img {
    width: 15px;
  }
  .main-find {
    margin-bottom: 10px;
  }
  .main-type {
    margin-bottom: 0;
  }
  .main-overflow {
    margin-bottom: 10px;
  }
  .search-block__title {
    font-size: 22px;
    line-height: 22px;
  }
  .search-form {
    margin-top: 85px;
  }
  .search-form__point {
    font-size: 13px;
    line-height: 13px;
    top: -24px;
  }
  .search-form__input input {
    height: 52px;
    border-radius: 13px;
  }
  .search-form__swap img {
    width: 32px;
  }
  .search-form__people .main-people__text {
    height: 52px;
    border-radius: 13px;
  }
  .search-form__people .main-people__inner {
    font-size: 10px;
  }
  .search-form__people .main-people__span {
    font-size: 10px;
  }
  .search-form__btn {
    height: 53px;
    font-size: 13px;
  }
  .search-price {
    margin-top: 43px;
  }
  .search-price__title {
    font-size: 15px;
  }
  .search-price__offer {
    width: 100%;
    margin-top: 17px;
    padding: 13px 24px;
    border-radius: 13px;
  }
  .search-price__accent {
    padding: 5px 8px;
    font-size: 7px;
    line-height: 7px;
    border-radius: 4.87465px;
  }
  .search-price__value {
    font-size: 12px;
  }
  .search-price__time {
    margin-left: 17px;
    font-size: 10px;
  }
  .search-price__info {
    font-size: 10px;
  }
  .search-block__submit {
    margin-top: 20px;
    border-radius: 13px;
    padding: 15px 22px;
    border-radius: 9px;
    font-size: 10px;
    line-height: 10px;
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .main-type {
    width: 600px;
  }
  .main-overflow {
    overflow-x: scroll;
  }
  .main-type__item {
    height: 47px;
  }
  .main-type__point {
    line-height: 15px;
  }
  .main-type__text {
    margin-top: 0;
  }
  .main {
    padding: 30px 0;
  }
  .main-city {
    display: block;
  }
  .main-city__item {
    width: 100%;
  }
  .main-city__arrows {
    margin: 10px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-date {
    display: block;
  }
  .main-date__item {
    width: 100%;
    margin-bottom: 10px;
  }
  .main-date__item:last-child {
    margin-bottom: 0;
  }
  .main-people {
    width: 100%;
    margin-bottom: 10px;
    padding-right: 0;
  }
  .main-find__btn {
    width: 100%;
  }
  .main_inner .timeline .inroad .undertext {
    font-size: 12px;
  }
  .main_inner .timeline .race {
    max-width: 200px;
  }
  .main_inner .main_item .main_pay .pay {
    padding-bottom: 0px;
    padding-top: 0;
  }
  .price {
    margin-bottom: 0;
    font-size: 17px;
  }
  .container {
    padding: 0 9px;
  }
}
/*# sourceMappingURL=style.css.map */